{{> header}}

<div>
    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">{{title}}</h4>
        <p class="mb-0">{{{description}}}</p>
    </div>

    <ul>
        <li><a href="{{timeMapHref}}">{{timeMapLabel}}</a></li>
        <li><a href="{{latestVersionHref}}">{{latestVersionLabel}}</a></li>
    </ul>
</div>

{{> footer}}
