{{#crsEditor}}
<script type="text/javascript">
  globalThis._sortingfilter = globalThis._sortingfilter || {};
  globalThis._sortingfilter.crscontainer = 'crs';
  globalThis._sortingfilter.language = '{{{language}}}';
  globalThis._sortingfilter.translations = {
    {{#jsTranslations}}
      '{{key}}': '{{{value}}}',
    {{/jsTranslations}}
  };
</script>

{{> app-crseditor}}

{{/crsEditor}}
