{{#sortingEditor}}
<script type="text/javascript">
  globalThis._sortingfilter = {
      sortingcontainer: 'sf',
      language: '{{{language}}}',
      translations: {
        {{#jsTranslations}}
          '{{key}}': '{{{value}}}',
        {{/jsTranslations}}
      },
  }
</script>

{{> app-sortingeditor}}

{{/sortingEditor}}


