{{#sortingEditor}}
<script type="text/javascript">
  globalThis._sortingfilter = {
      language: '{{{language}}}',
      translations: {{{translationsJson}}},
      sortingcontainer: 'sf',
      fields: {
        {{#fields}}
          '{{key}}': '{{{value}}}',
        {{/fields}}
      },
  }
</script>

{{> app-sortingeditor}}

{{/sortingEditor}}


