{{#sortingEditor}}
<script type="text/javascript">
  globalThis._sortingfilter = {
      sortingcontainer: 'sf',
      language: '{{{language}}}',
      translationsDe: {
        {{#translationsMapDe}}
          '{{key}}': '{{{value}}}',
        {{/translationsMapDe}}
      },
      translationsEn: {
      {{#translationsMapEn}}
        '{{key}}': '{{{value}}}',
      {{/translationsMapEn}}
      },
  }
</script>

{{> app-sortingeditor}}

{{/sortingEditor}}


